<div class="container-fluid bg-white">
  <div class="container-fluid bg-white text-center">
    <h1 class="title-property-new">Votre propriété en détails</h1>
  </div>

  <div class="container">
    <div class="card-map-form">
      <div id="home-map" style="width: 40%; height: 600px; align-items: center; margin: auto; border-radius: 10px;"
           data-controller="map"
           data-map-markers-value="<%= @markers.to_json %>"
           data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
      <div class="card-simple-form">
        <%= simple_form_for @property do |f| %>
          <%= f.input :address, label: "Adresse" %>
          <%= f.input :area_sqm_land, label: "Surface terrain" %>
          <%= f.input :area_sqm_livable, label: "Surface habitable" %>
          <%= f.input :floor_area_ratio, label: "Coefficient d'occupation des sols" %>
          <%= f.input :building_height_floors, label: "Nombre d'étages" %>
          <%= f.input :nb_rooms_per_dwelling, label: "Nombre de pièces par logement" %>
          <%= f.input :energy_class, label: "Classe énergétique" %>
          <%= f.submit "Sauvegarder mon adresse", class: "btn btn-primary" %>
        <% end %>
        <%= link_to 'Lancez vous!', new_project_path, class: "btn btn-success mt-3" %>
      </div>
    </div>
  </div>
</div>
