<div class="container-fluid bg-white">

  <div class="container-fluid bg-white text-center">
    <h1 class="title-property-new">Votre propriété en détails</h1>
  </div>


  <div class="container">
    <div class="card-map-form">

      <div id = "home-map" style="width: 40%; height: 600px; align-items: center; margin: auto; border-radius: 10px;"
        data-controller="map"
        data-map-markers-value="<%= @markers.to_json %>"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
      <div class="card-simple-form">
        <%# <h3 class="title-property-form">Adresse</h3> %>
        <%= simple_form_for @property do |f| %>
          <%= f.association :city, collection: @cities,  label: "Ville", label_method: :city_name %>
          <%= f.input :area_sqm_land, label: "Surface terrain" %>
          <%= f.input :address, label: "Adresse" %>
          <%= f.input :street_number, label: "Numéro d'adresse" %>
          <%= f.input :street_name, label: "Nom de la rue" %>
          <%= f.input :zipcode, label: "Code postal" %>
          <%= f.input :building_height_floors, label: "Nombre d'étages" %>
          <%= f.input :nb_rooms_per_dwelling, label: "Nombre de pièces par logement" %>
          <%= f.input :energy_class, label: "Classe énergétique" %>
          <%= f.input :floor_area_ratio, label: "Coefficient d'occupation des sols" %>
          <%= f.input :nb_dwelling, label: "Nombre de logements" %>
          <%= f.input :density_area, label: "Zone de densité" %>
          <%= f.input :building_zone, label: "Zone à bâtir" %>
          <%= f.submit "Sauvegarder mon adresse" %>
        <% end %>
      </div>
    </div>

  </div>

</div>
