<!-- app/views/projects/show.html.erb -->

<div class="container">
  <div class="row">
    <!-- Section 1: Summary of Applicable Regulations -->
    <div class="col-md-6">
      <h2>Résumé des Réglementations Applicables</h2>
      <div id="regulations-summary">
        <% if @regulations.present? %>
          <% @regulations.each do |regulation| %>
            <p>Coefficient d'Occupation des Sols (COS) <%= number_with_precision(regulation.floor_area_ratio * 100, precision: 0, delimiter: ' ') %>%</p>
            <p>Nombre d'étage(s) autorisé(s) R+<%= regulation.building_height - 1 %> étage<%= "s" if regulation.building_height - 1 >= 2 %></p>
          <% end %>
        <% else %>
          <p>Aucune réglementation disponible pour cette ville.</p>
        <% end %>
      </div>
    </div>

    <!-- Section 2: City Data -->
    <div class="col-md-6">
      <h2>Données de la Ville</h2>
      <div id="city-data">
        <% if @city.present? %>
          <p>Ville : <%= @city.city_name[0].upcase + @city.city_name[1..-1] %></p>
          <p>Prix de vente par m² (habitable) <%= number_with_precision(@city.price_per_sqm_livable, precision: 0, delimiter: ' ') %>€</p>
          <p>Loyer par m² (habitable) <%= number_with_precision(@city.price_per_sqm_rental, precision: 0, delimiter: ' ') %>€</p>
        <% else %>
          <p>Aucune donnée disponible pour cette ville.</p>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-md-6">
      <!-- Section 3: Project Data -->
      <div class="col-md-12">
        <h2>Données du Projet</h2>
        <div id="project-data">
          <p>Votre projet : <%= @project.project_name %></p>
          <p>Votre terrain : <%= number_with_precision(@project.area_sqm_land, precision: 0, delimiter: ',') %> m²</p>
          <p>Votre surface habitable : <%= number_with_precision(@project.area_sqm_livable, precision: 0, delimiter: ',') %> m²</p>
          <p>Votre coefficient d'occupation des sols : <%= number_with_precision(@project.floor_area_ratio * 100, precision: 0, delimiter: ' ') %>%</p>
        </div>
      </div>
    </div>

    <!-- Section 4: Launch Simulation -->
    <div class="col-md-6">
      <h2>Lancer une Simulation</h2>
      <%= form_with(url: project_simulations_path(@project), method: :post, id: "simulation-form") do |form| %>
        <div class="mb-3">
          <%= form.label :unit_cost, "Coût Unitaire de Construction / Démolition (par m²)" %>
          <%= form.select :unit_cost, options_for_select([['-- Sélectionnez une option --', ''], ['Basique - 1 500€', 1500], ['Standard - 2 000€', 2000], ['Haut de gamme - 2 500€', 2500]]), {}, { class: 'form-control', id: 'unit_cost' } %>
        </div>
        <%= form.submit "Lancer la Simulation", class: "btn btn-primary", id: "submit-button", disabled: true %>
      <% end %>
    </div>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    const unitCostInput = document.getElementById("unit_cost");
    const submitButton = document.getElementById("submit-button");

    unitCostInput.addEventListener("change", function() {
      if (unitCostInput.value.trim() === "" || unitCostInput.value <= 0) {
        submitButton.disabled = true;
      } else {
        submitButton.disabled = false;
      }
    });

    // Initial check to enable or disable the submit button
    if (unitCostInput.value.trim() === "" || unitCostInput.value <= 0) {
      submitButton.disabled = true;
    } else {
      submitButton.disabled = false;
    }
  });
</script>
